{{ template "base_top" }}
<form method="post">
    <input type="text" name="login" placeholder="login">
    <input type="password" name="password"  placeholder="password">
    <input type="submit" placeholder="send">
</form>
{{ template "base_bottom" }}